@model IEnumerable<MyOnlineCraftWeb.Models.Product>



<div class="row pb-3">
	@foreach(var product in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card card-img-top">
						<img height="350" src="~/Images/@product.imageURL" class="card-img-top rounded"/>

						<div class="card-body">
						<div class="pl-1">
							<h1 class="card-title h5 text-primary">@product.productName</h1>
						</div>
						<div class="pl-1">
							<p>DiscountPrice: <b>Rs. @product.DiscountPrice.ToString("c")</b></p>
						</div>
						<div class="pl-1">
							<p>Price: <strike><b>Rs. @product.ActualPrice.ToString("c")</b></strike></p>
							<p>@(product.discountPercent)% off</p>

						</div>
						
						</div>
						
					</div>
					<div>
						<a  asp-action="Details" class="btn btn-primary form-control" asp-route-productid="@product.productId">
							Details
						</a>
					</div>
				</div> 
			</div>
		</div>
	}
</div>




